<div class="row">
    <div class="col s12 m8">
        <p class="right">5/5</p>
        <h4 class="center flow-text" style="margin-bottom: 35px;">Your ideal roommate</h4>

        <div class="row">
            <div class="input-field col s12">

              <div id="slider" class="noUi-target noUi-ltr noUi-horizontal" style="margin-bottom: 10px;">
              </div>
              From: <span class="example-val" id="slider-margin-value-min">20.00</span>
              <br />
              To: <span class="example-val" id="slider-margin-value-max">80.00</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-transgender material-icons prefix" aria-hidden="true"></i>
                <select>
                    <option value="" disabled selected>Freferred gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
        </div>






        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
                <label for="textarea1">Message</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="right">
                    <a class="waves-effect waves-light btn">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var limitSlider = document.getElementById('slider');

noUiSlider.create(limitSlider, {
	start: [ 10, 120 ],
	limit: 80,
	behaviour: 'drag',
	connect: true,
  tooltips: [true, wNumb({ decimals: 1 })],
	range: {
		'min': 0,
		'max': 100
	}
});

var limitFieldMin = document.getElementById('slider-margin-value-min');
var limitFieldMax = document.getElementById('slider-margin-value-max');

limitSlider.noUiSlider.on('update', function( values, handle ){
	(handle ? limitFieldMax : limitFieldMin).innerHTML = values[handle];
});
</script>
