<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <div class="row">
                    <div class="col s12">
                        <p class="grey-text text-lighten-4">THE PREMIER WEBSITE FOR ROOM RENTALS
                            LIST OR SEARCH ROOMS TO FIND YOUR NEW ROOMMATE</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h6 class="white-text">Join Us On</h6>
                        <div class="social-link text-center">
                            <a href="https://twitter.com/" class="icon-btn twitter">
                                <i class="icon-twitter fa fa-twitter"></i><span></span>
                            </a>
                            <a href="" class="icon-btn facebook">
                                <i class="icon-facebook fa fa-facebook"></i><span></span>
                            </a>
                            <a href="" class="icon-btn gplus">
                                <i class="icon-google-plus fa fa-google-plus"></i><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About US</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacy policy</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terms & Condition</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact US</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © RoomTitan, Inc.
        </div>
    </div>
</footer>

<!-- Modal Structure -->
<div id="optionForPhotoCahnge" class="modal">
    <div class="modal-content">
        <h5 class="center flow-text">You can change your avarar. Max image size 5MB</h5>
        <hr>
        <form>
            <div class="row">
                <div class="col s12">
                    <div class="center">
                        <img src="https://placeimg.com/200/200/people" class="responsive-img">
                    </div>
                    <div class="center">
                        <a id="triggerOpenFileExplorer" class="waves-effect waves-light btn 1e88e5 blue darken-1">upload
                            your
                            photo</a>
                        <input type="file" id="openFileExplorer" style="display: none">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>