<!-- Dropdown Structure -->
<ul id="dropdown-web-for-up" class="dropdown-content" style="z-index: 1001;">
    <li>
        <div class="row tr-mobile-user-on-nev">
            <div class="col s12">
                <a href="#optionForPhotoCahnge" class="optionForPhotoCahnge">
                    <img src="https://placeimg.com/80/80/people" class="responsive-img circle tr-mobile-user-on-nev-photo">
                    <p class="rt-change-on-photo"><span class="rt-change-text-on-photo">change</span></p>
                </a>
                <p class="tr-mobile-user-on-nev-name">John Doe</p>
                <p class="tr-mobile-user-on-nev-name rt-email-on-desktop">johndoe@mail.com</p>
            </div>
        </div>
    </li>
    <li><a href="collapsible.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="collapsible.html"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a></li>
    <li><a href="collapsible.html"><i class="fa fa-building" aria-hidden="true"></i> Property</a></li>
    <li><a href="collapsible.html"><i class="fa fa-credit-card" aria-hidden="true"></i> Payment</a></li>
    <li><a href="collapsible.html"><i class="fa fa-bell-o" aria-hidden="true"></i> Alert</a></li>
    <li><a href="collapsible.html"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a></li>
    <hr>
    <li><a href="collapsible.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
</ul>


<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn d84315 deep-orange darken-3" href="sass.html">Add property</a></li>
            <li><a class="dropdown-button rt-user-photo-on-nav" href="#!" data-activates="dropdown-web-for-up"><img
                            src="https://placeimg.com/50/50/people" class="responsive-img circle"></a>
            </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li>
                <div class="row tr-mobile-user-on-nev">
                    <div class="col s12">
                        <a href="#optionForPhotoCahnge">
                            <img src="https://placeimg.com/80/80/people" class="responsive-img circle tr-mobile-user-on-nev-photo">
                        </a>
                        <p class="rt-mobile-nav-name">John Doe</p>
                        <p class="rt-mobile-nav-name rt-mobile-nav-email">johndoe@mail.com</p>
                    </div>
                </div>
            </li>
            <li><a class="waves-effect waves-light btn d84315 deep-orange darken-3" href="sass.html">Add property</a></li>
            <hr>
            <li><a href="collapsible.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li><a href="collapsible.html"><i class="fa fa-user-o" aria-hidden="true"></i>Profile</a></li>
            <li><a href="collapsible.html"><i class="fa fa-building" aria-hidden="true"></i>Property</a></li>
            <li><a href="collapsible.html"><i class="fa fa-credit-card" aria-hidden="true"></i>Payment</a></li>
            <li><a href="collapsible.html"><i class="fa fa-bell-o" aria-hidden="true"></i>Alert</a></li>
            <li><a href="collapsible.html"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</a></li>
            <hr>
            <li><a href="collapsible.html"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
        </ul>
    </div>
</nav>
