<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>RoomTitan | THE PREMIERE WEBSITE FOR ROOM RENTALS</title>


    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
          type='text/css'>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script language="javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOPU1rHJutayu3uDpWj37ffbl0BeSpeR8&libraries=geometry,places&v=3"></script>


    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/roomtitan-style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/abir-rt-style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mz.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/owl.carousel.min.css">



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/roomtitan-js.js"></script>
    <script type="text/javascript" src="/javascripts/abir-rt-script.js"></script>
    <script type="text/javascript" src="/javascripts/mz.js"></script>
    <script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOPU1rHJutayu3uDpWj37ffbl0BeSpeR8&libraries=places">
    </script>

</head>
<body>

<% include ./head.ejs %>
