<% include ../../../../partials/template/header.ejs %>

<section>
    <div class="row">
        <div class="col s12 m3 rt-nav-left-for-member hide-on-small-only">

            <% include ../../leftNavPannel.ejs %>

        </div>

        <div class="col s12 m9">
            <form>
                <div style="display: none" >
                    <% include partials/pageOneOfFive.ejs %>
                </div>
                <div style="display: none">
                    <% include partials/pageTwoOfFive.ejs %>
                </div>
                <div style="display: none;">
                    <% include partials/pageFiveOfFive.ejs %>
                </div>
                <div>
                    <% include partials/pageFourOfFive.ejs %>
                </div>

            </form>
        </div>
    </div>
</section>

<% include ../../../../partials/template/footer.ejs %>
