<% include ../../../partials/template/header.ejs %>

<section>
    <div class="row">
        <div class="col s12 m7">
            <a href="/member/alert" class="right tooltipped" data-position="left" data-delay="50"
               data-tooltip="Back to alert page">
                <i class="fa fa-times-circle fa-2x rt-back-to-alert-page" aria-hidden="true"></i>
            </a>
            <div class="z-depth-2">
                <h6 class="rt-message-details-subject">I want to rent your property mbjasbb kxjbcdjksbcdjksbcdsj
                    bsdkjbcdjksbckjsd. (message title)</h6>
                <hr>
                <pre class="rt-alert-detailse-pre"><p class="rt-message-details-body">{{ message }}</p></pre>
            </div>
        </div>
        <div class="col s12 m5">

            <% include ./partial/messagePreview.ejs %>

        </div>
    </div>
</section>


<% include ../../../partials/template/footer.ejs %>
