<% include ../../partials/template/header.ejs %>
<div class="container">
    <section>
        <div class="row">
            <div class="col s12">
                <h4>Hi i am Allen!</h4>
                <hr>
            </div>
        </div>



        <div class="row">
            <div class="col s12 m4">
                <div class="row">
                    <div class="col s12">
                        <img src="https://placeimg.com/300/300/people" class="responsive-img">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="rt-verified-info">
                            <p><strong>Verified information</strong></p>
                            <div>
                                <p class="rt-piece-info">Government Id <span class="right"><i
                                                class="fa fa-check-circle-o tr-font-true-color"
                                                aria-hidden="true"></i></span></p>
                                <p class="rt-piece-info">Email address <span class="right"><i
                                                class="fa fa-check-circle-o tr-font-true-color"
                                                aria-hidden="true"></i></span></p>
                                <p class="rt-piece-info">Phone number <span class="right"><i
                                                class="fa fa-check-circle-o tr-font-true-color"
                                                aria-hidden="true"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="rt-verified-info">
                            <p><strong>Connected account</strong></p>
                            <div>
                                <p class="rt-piece-info">Facebook <span class="right"><i
                                                class="fa fa-check-circle-o tr-font-true-color"
                                                aria-hidden="true"></i></span></p>
                                <p class="rt-piece-info">Twitter <span class="right"><i
                                                class="fa fa-times-circle-o rt-font-false-color"
                                                aria-hidden="true"></i></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m8">
                <div class="row">
                    <div class="col s12">
                        <h5>About me</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa deserunt omnis quasi
                            qui ullam
                            unde. Accusamus accusantium adipisci cum doloribus error est explicabo, iste, mollitia non,
                            odit placeat
                            quibusdam?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5>My properties (6)</h5>
                        <div id="userProfileMap" style="width:100%;height:320px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5>Send me a message</h5>
                        <form method="POST" action="/form_dissplay/form_submited" enctype="multipart/form-data"
                              class="rt-user-profile-send-message">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input name="first_name" id="first_name" type="text" class="validate">
                                    <label for="first_name">Name</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input name="email" id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
                                    <label for="textarea1">Message</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="waves-effect waves-light btn right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(function () {
        google.maps.event.addDomListener(window, 'load', userProfilePropertyOnMap);
    });
</script>
