<!DOCTYPE html>
<html>
  <head><% include ../partials/template/head.ejs %></head>
  <header><% include ../partials/template/header.ejs %></header>
  <body>
<div class="wrapper">

  <% if(typeof errors != "undefined") {%>
   <div class=fail-validation>
     <% errors.forEach(function(error){%>
      <h4><%= error.msg %></h4>
     <%});%>
   </div>
   <% } %>
  <div class="row">
  <form class="col s6 m6 l6" method="post" action="/sign/up">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" name="first_name">
        <label for="first_name">First Name</label>
      </div>

      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" name="last_name">
        <label for="last_name">Last Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" name="email">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="conf_password" type="password" class="validate" name="conf_password">
        <label for="conf_password">Confirm Password</label>
      </div>
    </div>
    <input id="submit" type="submit" class="validate waves-effect waves-light btn">
  </form>

  <!-- on successful registration, i.e., after database insert -->
  <% if(typeof successfulEntry != 'undefined') {%>
    <div class="success-registration">
      <h4> Congrats! You have successfully joined our family. </h4>
    </div>
  <% } %>


  </div>
</div>
<% include ../partials/template/footer.ejs %>
</body>
</html>
